@model int

<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary text-white mr-1" asp-action="Edit" asp-route-Id="@Model">Edit</a>

        <a class="btn btn-info text-white mr-1" asp-action="Details" asp-route-Id="@Model">Details</a>

        <a class="btn btn-danger text-white" 
           onclick="return confirm('Are you sure you want to delete?')"
           asp-action="Delete" asp-route-Id="@Model">Delete</a>
    </div>
</td>
