@model Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>
<hr />
<br />

<div class="font-weight-bold">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Id" class="custom-label"></label>
        </div>
        <div class="col-6">
            <input asp-for="Id" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name" class="custom-label"></label>
        </div>
        <div class="col-6">
            <input asp-for="Name" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Price" class="custom-label"></label>
        </div>
        <div class="col-6">
            <input asp-for="Price" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Image" class="custom-label"></label>
        </div>
        <div class="col-6">
            <img src="~/images/products/@Model.Image" width="200" alt="#" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Description" class="custom-label"></label>
        </div>
        <div class="col-6">
            @Html.Raw(Model.Description)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="CategoryId" class="custom-label"></label>
        </div>
        <div class="col-6">
            <input asp-for="Category.Name" readonly class="form-control" />
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-6 offset-2">
        <partial name="_DetailsAndBackToListButtons" model="Model.Id" />
    </div>
</div>
